html {
    background: #fff2e5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    color: #1a0d00;

    width: 100vw;
    height: 100vh;
    margin: 0;

    overflow: hidden;
    transition: 0.1s;
    animation: fadeIn 0.1s ease-in;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    transition: all 0.8s ease;
}

/* --------------------- TITLE --------------------- */

.home-page-logo {
    font-family: "Fredoka", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10rem;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.0125em;
}

.home-page-logo-letter {
    text-decoration: none;
    color: #ff8000;
    animation: wave 3s ease-in-out infinite backwards;
    display: inline-block;

    transition: 1s;
    margin-bottom: 0em;
    margin-top: 0.15em;
}
.home-page-logo-letter:hover {
    transition: 0.25s;
    margin-bottom: 0.15em;
    margin-top: 0em;
}

.home-page-logo-y {
    text-decoration: none;
    color: #cc6500;
    animation: wave-y 3s ease-in-out infinite backwards;
    display: inline-block;

    transition:
        color 0.1s,
        transform 1s,
        margin-bottom 1s,
        margin-top 1s;
    margin-bottom: 0.15em;
    margin-top: 0em;
}
.home-page-logo-y:hover {
    transition:
        color 0.1s,
        transform 0.25s,
        margin-bottom 0.25s,
        margin-top 0.25s;
    margin-bottom: 0em;
    margin-top: 0.15em;

    color: #994d00;
}

.home-page-logo a:nth-child(1) {
    animation-delay: 0s;
}
.home-page-logo a:nth-child(2) {
    animation-delay: 0.15s;
}
.home-page-logo a:nth-child(3) {
    animation-delay: 0.3s;
}
.home-page-logo a:nth-child(4) {
    animation-delay: 0.45s;
}
.home-page-logo a:nth-child(5) {
    animation-delay: 0.6s;
}
.home-page-logo a:nth-child(6) {
    animation-delay: 0.75s;
}

@keyframes wave {
    0%,
    100% {
        transform: translateY(0.037em);
    }
    50% {
        transform: translateY(-0.037em);
    }
}
@keyframes wave-y {
    0%,
    100% {
        transform: translateY(0.357em);
    }
    50% {
        transform: translateY(0.382em);
    }
}

/* --------------------- SECTIONS --------------------- */
.section-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3em;

    font-family: "Fredoka", sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: #994d00;
}

.section-links a {
    color: #ff8000;
    text-decoration: none;
    transition: color 0.1s ease;
}
.section-links a:hover {
    color: #cc6500;
}

.separator {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.bio {
    padding-top: 0.5em;
    max-width: 30em;
    font-family: "Fredoka", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #2d1f10;
    text-align: center;
}

/* --------------------- CONTACT --------------------- */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3em;
}

.contact span {
    font-family: "Fredoka", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #1a0d00;
}

.contact a {
    font-family: "Fredoka", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ff8000;
    text-decoration: none;
    transition: color 0.1s ease;
}

.contact a:hover {
    color: #cc6500;
}
